.container{
  padding:15px;
  margin: 15px;
  overflow: hidden;
  background: #FFFFFF;
}
.container-left{
  width: 240px;
  float: left;
  display: flex;
  flex-direction: column;
}
.container-right{
  display: flex;
  flex: 1;
  flex-direction: column;
}